In [79]:
print("Welcome to the Collections concept in python")

Welcome to the Collections concept in python

# Collections in python 
    - List
    - Tuple
    - Set
    - Dictionary

## List 
 - List data can be represented by using [] or list()
 - List allow duplicate value
 - We can manupulate data by using indexing and Slicing
 - Oredered format values are stored in a list

In [80]:
List1=[1,2,3]
List1

[1, 2, 3]

In [81]:
List2=["Kalyan","Badulla","Rakesh"]
List2

['Kalyan', 'Badulla', 'Rakesh']

In [82]:
list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [83]:
# Indexing 
list3[2]

'Sam'

In [84]:
list3[4]

'Nayan'

In [85]:
list3[5]

3

In [86]:
list3[-1]

3

In [87]:
list3[-4]

'Sam'

In [88]:
list3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [89]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [90]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [91]:
list3[0:4]

['Ram', 1, 'Sam', 2]

In [92]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [93]:
list3[1:4]

[1, 'Sam', 2]

In [94]:
list3[-2:1:-1]

['Nayan', 2, 'Sam']

In [95]:
list3[2:0:-1]

['Sam', 1]

In [96]:
list3[4::-3]

['Nayan', 1]

In [97]:
demo=list3[1:3]
demo

[1, 'Sam']

In [98]:
demo[::-1]

['Sam', 1]

In [99]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [100]:
list3.append("Mounika")
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Mounika']

In [101]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [102]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [103]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [104]:
list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [105]:
list5.pop()
list5

[1, 2, 3, 'a']

In [106]:
list5.pop(2)
list5

[1, 2, 'a']

In [107]:
list5.clear()
list5

[]

In [108]:
list5.insert(3,"Aravind")
list5

['Aravind']

In [109]:
list7=list5 + list6
list7

['Aravind', 'a', 'b', 'c']

In [110]:
for  data in list5:
    print(data)

Aravind

In [111]:
employee=["sam","Mounica","Bhanu"]
manager=["Rakesh","vamsi","Madhavi"]
for emp in employee:
    manager.append(emp)

print(manager)

['Rakesh', 'vamsi', 'Madhavi', 'sam', 'Mounica', 'Bhanu']

In [112]:
if "vamsi" in manager:
    print("He is in manager list")
else:
    print("No he is not one of the manager")

He is in manager list

In [113]:
list5.extend(list6)
list5

['Aravind', 'a', 'b', 'c']

In [114]:
list5.count(2)

0

In [ ]:
# In a given list i want to get 2nd highest value
Example: 
i/p:   321321
       3213
        121
        2
        3244234
        332443 
o.p:    332443

In [115]:
marks=[]
marks_size=int(input("Enter how many marks are there"))
for data in range(marks_size):
    marks_list=int(input("Enter Marks"))
    marks.append(marks_list)

print("Entered Marks are ", marks)
def secondHighest(marks):
    marks.sort()
    return marks[-2]

secondHighest(marks)

Enter how many marks are there7
Enter Marks34
Enter Marks22
Enter Marks12
Enter Marks1
Enter Marks2
Enter Marks3
Enter Marks4
Entered Marks are  [34, 22, 12, 1, 2, 3, 4]

22