## Operators
- Assignment operators
- membership operators
- identity operators

## Assignent operators 
- +=,-=,=,/=,//=,*=,%=,<=,>=,==

In [1]:
a=10

In [2]:
a

10

In [3]:
a=a+1

In [4]:
a

11

In [5]:
a+=2

In [6]:
a

13

In [7]:
a-=2
a

11

In [8]:
a*=2
a

22

### membership operators
- by using this operators we will identify a perticula element belongs to a group or not
- they are in, not in

In [9]:
arr = [1,2,3,4,5,6]
inp=3
inp in arr

True

In [10]:
10 in arr

False

In [11]:
s1 = 'shaik abdul'
'b' in s1

True

In [12]:
'shaik' in s1

True

In [13]:
bits = '001001000111'
'00' in bits

True

In [14]:
4 not in arr

False

In [15]:
arr

[1, 2, 3, 4, 5, 6]

### identity operators
- by using this operators we compare values
- they are is,is not

In [16]:
'abc' is 'abc'

True

In [17]:
'abc' is 'cbd'

False

In [18]:
123 is 123

True

In [19]:
123 is not 1234

True

## Conditional control statements
- it controls the flow of execution based on condition
- for that we have few diff type of statements
      - conditional stat
      - looping stat
      - jump stat
### conditional stat
- if
    -if(cond):
        stta
- if else
- nested
- else if ladder

In [20]:
if (5<6):
    print('true')

true

In [21]:
if (5<6):
    print('true')
    print("5 is small")

true
5 is small

In [22]:
if (5<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am inside if
5 is small
i am out of if

In [23]:
if (51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [26]:
if (51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [27]:
if (4>7):
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [28]:
if (23>7):
    print('i am inside if block')
else:
    print('i am inside else block')
print('i am going to exit')

i am inside if block
i am going to exit

In [29]:
if (4>7):
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [30]:
if (5<6):
    if(6<7):
        print('6  is existed in b/w 5 and 6')
    else:
        print('wrong choice')
else:
    print('try again')

6  is existed in b/w 5 and 6

In [31]:
if ((5<6) and (6<7)):
    print("6 is existed in b/w 5 and 6")
else:
    print("try again")

6 is existed in b/w 5 and 6

In [32]:
if (343<67):
    print('true')
elif(341>45):
    print('i am from elif')
else:
    print("false")

i am from elif

In [33]:
a=10
print(a, 'is big')

10 is big

In [34]:
n = int(input())
if n%2==0:
    print(pow(n,2))
else:
    print(n*5)

3
15

### task1: write a logic to find biggest of 2 nums 34 and 234
### task2:biggest of 3 nums
### task3:find a given number is even or not
    - if it is even print power of that val
    - otherwise print multiply that value with 5
### task4: write a logic to find a given number is 5 multiple or not

In [45]:
# task1:write a logic to find biggest of 2 nums 34 and 234
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(max(num1, num2), "is greater")

Enter the first number: 34
Enter the second number: 234
234 is greater

In [37]:
# task2:biggest of 3 nums
def maximum(a, b, c): 
  
    if (a >= b) and (a >= c): 
        largest = a 
  
    elif (b >= a) and (b >= c): 
        largest = b 
    else: 
        largest = c 
          
    return largest 

a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [43]:
# task3:find a given number is even or not
# if it is even print power of that val
# otherwise print multiply that value with 5
num = int(input("Enter a number: "))
if((num % 2)== 0):
    print(pow(num,2))
else:
    print(num*5)

Enter a number: 24
576

In [44]:
#task4: write a logic to find a given number is 5 multiple or not
n =int(input())
if (n%5==0):
    print('it is 5 multiple')
else:
    print('it is not 5 mulple')

5
it is 5 multiple