## Looping Statements
- To perform a task multiple times
- in python , for and while only
### For loop
     for in range():
          # body of the loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [6]:
for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [9]:
for a in range(10,0,-1):
     print(a,end=' ')

10 9 8 7 6 5 4 3 2 1

In [10]:
for a in range(1,10,2):
     print(a,end=' ')

1 3 5 7 9

In [11]:
for a in range(0,15,2):
     print(a,end=' ')

0 2 4 6 8 10 12 14

In [12]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [18]:
n=int(input("Enter a no to generate math table:"))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

Enter a no to generate math table:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [8]:
## task1: generate math tables from upto given range
## input: 5
# 2,3,4,5 tables
n = int(input())
for i in range(2,n+1):
    for j in range(1,11):
         print(i,'x',j,'=',i*j)

3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

#### while loop
    i=10
    while(cond):
    #body of the loop
    increment/decrement

In [21]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

1
2
3
4
5
6
7
8
9
10
11

### Jump Statements:
- by using these statements we will terminate(exit) the loop
- those are break and contiue
- break: break state will terminate the loop per
- continue: it wil terminate for insatant time ony

In [25]:
for i in range(100):
    if(i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [28]:
for j in range(1,101):
    if(j%5==0):
        continue
    print(j,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [11]:
#task2: generate even number upto 100(use range with 3 arguments)
#input: enter start value:5
#output:6,8,10,..........,100
# 1st solution
n=int(input("Enter start value:"))
for i in range(n,101,2):
    if(n%2 is 0):
        print(i,end=" ")
    else:
        print(i+1, end = " ")

Enter start value:5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [12]:
# 2nd solution
n=int(input("Enter start value:"))
if(n%2 is 0):
    for i in range(n,101,2):
        print(i,end=" ")
else:
    for i in range(n+1,101,2):
        print(i,end = " ")

Enter start value:5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [15]:
# 3rd solution{it is used for even or odd for only ones}
n=int(input())
for i in range(n,101,2):
    print(i,end=" ")

5
5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [16]:
# 3rd solution{it is used for even or odd for only ones}
n=int(input())
for i in range(n,101,2):
    print(i,end=" ")

6
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100