In [ ]:
## lists
 - collection of different datatypes
## tuple
 - collection of python objects
## Dictionary
 - dictionary is a key-value pair
 - it is unorder collection of data
 - it is mutable
 - duplicate keys not allowed in dictionary

# Data structures:
      - Strings
      - list
      - tuple
      - dictionary
      
 ##strings:
 -  '' or "" or ''' ''' or """ """
 - combination of characters(alphbets,numbers,special characters)
 - Iteration perform (index is applicabl)
 - slicing can be done (similar to range function)

In [1]:
d = 'rajuRSDFSf123'
print(type(d))
d

<class 'str'>

'rajuRSDFSf123'

In [2]:
r = 2
print(type(r))

<class 'int'>

In [3]:
t = 45.24452145
print(type(t))

<class 'float'>

In [4]:
y = input()
print(y)
y

45
45

'45'

In [5]:
y = "rajesh yadav"
"y. rajesh"

'y. rajesh'

p = "Kumar"

0   1  2  3  4 -> 
K   u  m  a  r
-5 -4 -3 -2 -1 <-

In [6]:
p = "kumar"

In [7]:
print(p[3])
print(p[-1])

a
r

In [8]:
for m in range(len(p)):
    if m == 3:
        print(p[m])

a

In [9]:
p

'kumar'

In [10]:
p[:]

'kumar'

In [11]:
s = "welcome"
print(s[0])

w

In [12]:
s = "hellowold"
print(p[3])

a

In [13]:
for m in "somu":
    print(type(m))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [14]:
p

'kumar'

In [15]:
p[:]

'kumar'

  - p[index]
  - p[start:] -> p[1:]
  - p[:end] -> p[:2]
  - p[start:end] -> 0yh index
  - p[start:end:stepping] -> - for step

In [16]:
m = "rajesh kumar"
print(len(m))
print(m[4])

12
s

In [17]:
m = "rajesh kumar"
print(len(m))
print(m[4])
print(m[-7])

12
s
h

In [18]:
m = "rajesh kumar"
print(len(m))
print(m[4])
print(m[-7])
print(m[2:])

12
s
h
jesh kumar

In [19]:
m = "rajesh kumar"
print(len(m))
print(m[4])
print(m[-7])
print(m[2:])
print(m[-3:])
print(m[:9])
print(m[:-5])
print(m[:])

12
s
h
jesh kumar
mar
rajesh ku
rajesh
rajesh kumar

In [20]:
print(m)
print(m[3::])
print(m[-4::])
print(m[::])
print(m[:8:])
print(m[:-3:])
print(m[4:10:])
print(m[2:-6:])
print(m[-3:-7:]) # no output
print(m[-1:2:])  # no output

rajesh kumar
esh kumar
umar
rajesh kumar
rajesh k
rajesh ku
sh kum
jesh

In [21]:
print(m)
print(m[2::3])
print(m[4::-1])
print(m[4::-2])
print(m[7:11:3])
print(m[2:9:-1]) #
print(m[3:-10:-2])

rajesh kumar
jhur
sejar
sjr
ka

e

0    1   2  3  4  5  6   7  8  9  10  11
 R   a   j  e  s  h      k  u  m  a   r
-12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2  -1

Firstname Lastname
Suresh    Reddy

SurXXXXXXXXdy
99xxxxxx081

In [22]:
w = "Tarun Kumar"
t = w[:3]
y = "x"*4
q = w[-2:]
e = t+y+q
a = w[:3]+"x"*4+w[-2:]
print(t)
print(y)
print(e)
print(a)

Tar
xxxx
Tarxxxxar
Tarxxxxar

In [23]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']